[2020-02-09 22:37] davido commented on #135
In this major overhaul of major plugin dependency: [1], I bumped the scribe version from 1.3.7 to 6.9.0, so that the both features: client basic authentication scheme and bearer access token authorization should be fixed

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/253929

[2020-02-09 22:37] #135 closed

[2020-02-10 01:49] zzzeek commented on #135
OK I can try out that .jar file now, what will the actual release be, will there be a 2.14.6.3 ? I currently use 2.14.6.2.   OTOH If I have to upgrade my gerrit just let me know how far I have to go up.

[2020-02-10 02:11] zzzeek commented on #135
welp I have to upgrade to gerrit 2.16 anyway beacuse none of the plugins are available at https://gerrit-ci.gerritforge.com/view/Plugins-stable-2.15/ anymore and I blew away my docker image

[2020-02-10 03:34] zzzeek commented on #135
OK I used the .jar file at https://ostrovsky.org/gerrit/oauth-g0e144214cc.jar against gerrit-2.16.16, replacing it for the gerrit-oauth-provider.jar file, got the stack trace below.

is that .jar usable for 2.16 or do I need a new build for that.

[code]

[2020-02-10 06:48] davido commented on #135
This JAR was built against master and as I wrote is not compatible with 2.16 and older gerrit releases. For that I've uploaded plugin version built against 2.15: [1], or even bumped the scribe version to 6.9.0, see the CL link in my previous comment.

[1] https://ostrovsky.org/gerrit/oauth-g470058ed4a.jar

[2020-02-10 10:20] tomaszkane opened #137 "Server Error after upgrade to Gerrit 3.1.x"
Hi, recently I do upgrade:

* as 2.16.7 - migrate to note db
* from 2.16.7 to 3.0.7
* from 3.07 to 3.1.3
* download gerrit-oauth-provider 3.0

After resolve few problems Gerrit start, but I cannot login via oauh Google - got "Server Error" with logs:
[code]

It's plugin or gerrit or some old config problem?

[2020-02-10 10:30] davido commented on #137
Where you have this jar from? There is one incompatible change: [1]. That why you need a JAR that ist built againt plugin master. The plugin doesn't have yet stable-3.1 branch.

Can you use oauth plugi artifact from Gerrit CI: [2]?

[1] https://gerrit-review.googlesource.com/c/gerrit/+/208043
[2] https://gerrit-ci.gerritforge.com/view/Plugins-stable-3.1/job/plugin-oauth-bazel-master-stable-3.1

[2020-02-10 10:30] #137 closed

[2020-02-10 10:57] tomaszkane commented on #137
From most obvious place: https://github.com/davido/gerrit-oauth-provider/releases

I allreade rollback to 2.16.x and will back to upgrade in next week probably.
Thanks for fast response.

[2020-02-10 21:21] zzzeek commented on #135
OK, it wasn't clear to me if a jar that works with 2.15 would also work with 2.16 since I thought that was where the API changes were.

you're still waiting on a positive test before releasing right?

[2020-02-10 21:28] zzzeek commented on #135
OK so I am running that and it "works", if you know offhand how I can get HTTPS request logging to come out when I run gerrit, I can confirm the headers are correct,otherwise will just see if I don't get an email in the next three days.

[2020-02-11 07:02] davido commented on #135
Thanks for the feedback.

Can you also test the major upgrade of scribe library (based on stable-2.16 branch)? The CL is here: [1] and the final artifact is here: [2].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/253929
[2] https://ostrovsky.org/gerrit/oauth-g5e0febd09d.jar

[2020-02-11 07:53] davido commented on #137
I am in process of bumping the scribe-library dependency to 6.9.0 (from 1.3.7) in this CL: [1]. Could you give it a try? The final artifact is here: [2] (built against master and as thus is compatible with gerrit 3.1.x release).

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/254372
[2] https://ostrovsky.org/gerrit/oauth-g801c00be4a.jar

[2020-02-12 10:00] Miccia94 commented on #132
I've the same problem, actually i'm using 3.1.3 version.
I fixed it int the oauth plugin: https://github.com/Miccia94/gerrit_oauth/commits/master

[2020-02-12 10:13] davido commented on #132
Well this is unfortunate, that you have to patch the plugin.

[2020-02-13 11:57] borospeti commented on #135
I'm running the plugin built from [1] (hash e4457af1) with gerrit 3.1.0 and GitHub OAuth. So far it has been working nicely and I haven't noticed any issues.

[1] [https://gerrit-review.googlesource.com/c/plugins/oauth/+/254332](https://gerrit-review.googlesource.com/c/plugins/oauth/+/254332)

[2020-02-13 12:14] davido commented on #135
@borospeti Thanks for the feedback. Note, though, that for 3.1.x release you shoud rather use the aster branch, so for 3.1.x gerrit release the right change to build from is: [1].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/254372

[2020-02-13 12:28] borospeti commented on #135
Indeed. I've just copied the wrong link/hash. :)

`gerrit-oauth-provider	801c00b	Enabled`

[2020-02-19 15:32] Mark-Booth commented on #135
I know this issue is now closed, and I'm probably missing something really obvious, but what to I have to do to my current 2.16.11.1 deployment to stop Google sending out these messages?

Do I just need to download https://ostrovsky.org/gerrit/oauth-g0e144214cc.jar and replace my existing
gerrit-oauth-provider-v2.16.1.jar in my plugins folder?

If so, I assume it would be the same if I update to 2

[2020-02-19 16:54] davido commented on #135
You can use 2.16 with 3.x and vise versa.

if you use 2.16 you need the plugin that is built against that version. Yes, just fetch the JAR from the link in my previous comment.

If you upgrade to 3.x then you would have to use a different JAR, that I also provided in my previous comment.

When the pending changes for review will be merged, then the corresponding build artifacts will show up in Ger

[2020-02-19 17:00] Mark-Booth commented on #135
Thanks for the clarifications @davido. If its a matter of a few days I'll wait for a build (I've starred the change in gerrit, and it saves making my upgrade documentation more complex than it needs to be). I guess I should also apologise the the people getting the nag e-mails. *8')

[2020-02-19 19:56] zzzeek commented on #135
sorry to keep adding to the bother here but the jar file at https://gerrit-ci.gerritforge.com/job/plugin-oauth-bazel-stable-2.16/ is *not* updated yet, right?   I get all my other plugins from this site so if oauth is there now that would be more convenient than getting this one from the local github download.

[2020-02-20 08:47] davido commented on #135
Right. The changes linked in my previous comment are not merged yet.

[2020-02-22 15:13] davido commented on #135
All changes were merged. New plugin release based on Gerrit 3.1.3 plugin API is here: [1].

For other releases, please consult GeritForge-CI, e.g. for 2.16 branch: [2].

[1] https://github.com/davido/gerrit-oauth-provider/releases/tag/v3.1.3
[2] https://gerrit-ci.gerritforge.com/job/plugin-oauth-bazel-stable-2.16

[2020-03-04 23:02] ctlajoie opened #139 "Error extracting token from Keycloak response"
I am getting this error in Gerrit after keycloak redirects back to Gerrit. There are no errors on the keycloak side - as far as it is concerned, nothing went wrong. It looks like it's trying to parse form parameters from a JSON response.

[code]

[2020-03-05 11:06] davido commented on #139
This is a regression from `scribejava` upgrade: [1].

I think the solution would be to drop the override, so this method should be removed, because the default is already Json extractor: [2].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/253929/2/src/main/java/com/googlesource/gerrit/plugins/oauth/KeycloakApi.java#48
[2] https://github.com/scribejava/scribejava/blob/master/scribeja

[2020-03-05 21:47] ctlajoie commented on #139
I tested that solution (removing the override for `getAccessTokenExtractor()`) and that works fine.

[2020-03-06 08:02] davido commented on #139
@ctlajoie Sorry for the troubles and thanks for confirming!

I will add more unit tests in this code area to avoid future regressions and will coduct a new release.

[2020-03-09 07:10] davido commented on #139
I have sent a fix for review: [1].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/258255

[2020-03-09 08:11] davido commented on #139
The mentioned CL was submitted. I will merge the fix up to master and conduct a new release.

[2020-03-09 08:11] #139 closed

[2020-03-19 09:37] zhankangbao opened #140 "Can you give me maven pom.xml"
I want to use maven to build him, accessing googlesource in China is too slow

[2020-03-19 09:38] zhankangbao commented on #140
<dependency>
            <groupId>com.google.gerrit</groupId>
            <artifactId>gerrit-plugin-api</artifactId>
            <version>3.0.6</version>
            <scope>provided</scope>
        </dependency>

        <dependency>
            <groupId>com.google.gerrit</groupId>
            <artifactId>gerrit-acceptance-framework</artifactId>
            <version>3.0.6</version>
        </depen

[2020-03-19 12:36] davido commented on #140
You don't need to build it yourself. You can download plugin binary from: release page: [1] or GerritForge CI: [2].

[1] https://github.com/davido/gerrit-oauth-provider/releases/tag/v3.1.3
[2] https://gerrit-ci.gerritforge.com/view/Plugins-stable-3.0/job/plugin-oauth-bazel-stable-3.0/

[2020-03-19 12:39] zhankangbao commented on #140
I want to build myself plugin to adapt my company oauth login

[2020-03-19 13:26] davido commented on #140
You can: build tool is Bazel and not Maven.

[2020-03-20 08:07] zhankangbao commented on #140
root@18f3928e8f05:/home/zhankb/gerrit_plugin/gerrit-oauth-provider# bazel build gerrit-oauth-provider
INFO: Call stack for the definition of repository 'com_googlesource_gerrit_bazlets' which is a git_repository (rule definition at /.cache/bazel/_bazel_root/87af3c5419bb7fa67fef478eef56afff/external/bazel_tools/tools/build_defs/repo/git.bzl:195:18):
 - /home/zhankb/gerrit_plugin/gerrit-oauth-provid

[2020-03-20 16:37] davido commented on #140
root@18f3928e8f05:/home/zhankb/gerrit_plugin/gerrit-oauth-provider# bazel build gerrit-oauth-provider
INFO: Call stack for the definition of repository 'com_googlesource_gerrit_bazlets' which is a git_repository (rule definition at /.cache/bazel/_bazel_root/87af3c5419bb7fa67fef478eef56afff/external/bazel_tools/tools/build_defs/repo/git.bzl:195:18):

[code]

It seems that your env is totally broken

[2020-03-20 19:26] davido commented on #140
Will upload `pom.xml` in a moment.

[2020-03-20 19:28] davido commented on #140
[pom.xml.txt](https://github.com/davido/gerrit-oauth-provider/files/4361495/pom.xml.txt)

[2020-03-20 19:28] #140 closed

[2020-03-20 19:29] davido commented on #140
Copy attached pom.xml file and it should just work:

[code]

[2020-03-23 01:50] zhankangbao commented on #140
thx!!!!!!!!! It works for me

[2020-03-24 09:03] zhankangbao commented on #140
If I want to user OAuth with grant_type=password Any suggestions david？

[2020-03-24 10:20] davido commented on #140
What provider? I would read the spec if it is supported, and what has to be done. Then patch the code, done.

[2020-03-25 01:56] zhankangbao commented on #140
It is the login system of our company intranet
I see that OAuth20Service supports the getAccessTokenPasswordGrant method internally, so how do I call it in the implementation of the OAuthServiceProvider interface? It seems that only the OAuthToken getAccessToken (OAuthVerifier rv) method is supported. The parameter is a credential, how to convert it into username and password

[2020-03-26 02:49] zhankangbao commented on #140
It looks like our request was blocked by oauthSession.isOAuthFinal in the filter
[code]
Any suggestions on how to introduce your own filter in Gerrit plugin?

[2020-03-27 08:39] zhankangbao commented on #140
I'm done, I revised the source code of Gerrit, monitored my keywords, let him jump to my Service, and completed the login; but different login methods seem to report an error, like: Cannot assign external ID "username: zhankangbao" to account 1000626; external ID already in use. Gerrit recognizes him as a new user. Is there any good way besides deleting the files under All-User?

[2020-03-27 12:03] davido commented on #140
@zhankangbao Please, consider to report problem in appropriate places. See project page for references: gerritcodereview.com:

Members of the community will discuss most Gerrit related things on the repo-discuss mailing list: https://groups.google.com/group/repo-discuss . Bugs are reported to the issue tracker: https://www.gerritcodereview.com/issues.html .

[2020-04-23 17:25] chjobaby opened #141 "Help me OAUTH suddenly Error (Server Error)"
[HTTP-76] ERROR com.google.gerrit.pgm.http.jetty.HiddenErrorHandler : Error in GET /gerrit/oauth?state=mWQA4B1nh7nKCmgV7kDeP08VU8ngJxQPmORbJLkd9VE&code=4%252FzAEVcCBsSHDMS2pCsItw6DALqG4wGCe8ut4vChL_9_1K7rOx3V3OdkprUtxB0a8W_F4TcJcv4SlajnG1XiwZVws&scope=email+profile+openid+https%253A%252F%252Fwww.googleapis.com%252Fauth%252Fuserinfo.email+https%253A%252F%252Fwww.googleapis.com%252Fauth%252Fuserinfo

[2020-04-24 04:55] chjobaby commented on #141
Fixed:
Google update OAuth consent screen, fix Create new token.

thanks Admin.

[2020-04-24 06:49] chjobaby commented on #141
Not Fixed? Help me @davido ?

[2020-04-24 12:43] davido commented on #141
I'm not sure. Is it a new problem? Was it already working? What is your Gerrit and OAuth plugin version? What have you changed?

[2020-04-25 04:16] chjobaby commented on #141
I'am use Gerrit version: 2.15.2,  OAuth plugin Version: 2.14.6
I'am changer token => login ok => log out=>login again=> Server Error ("error_description": "Malformed auth code.")
If changer token =>login ok=>log out=>login again=> Server Error
Help me @davido
Thanks You !

[2020-04-29 02:27] chjobaby commented on #141
@davido Help me?

[2020-04-29 18:55] davido commented on #141
Those version are outdated.

Can you try to upgrade, both Gerrit to the latest release 3.1? And get the latest version of the plugin from GerritForge CI: [1] and try again? Can you reproduce the problem? Try on staging site first?

[1] https://gerrit-ci.gerritforge.com/view/Plugins-master/job/plugin-oauth-bazel-master-master/

[2020-04-30 07:38] gesangtome opened #142 "HI, After using your plug-in in the newly installed gerrit, the login Identities shows as untrusted?"
Hey, I use your 'github-oauth' plugin to log in and create the first administrator account in the newly installed gerrit. But I found that in the "Identity" settings, the status has become untrusted? Strangely, my account ID is 1000000, but I found that I missed any settings or tasks that require administrator privileges? Why is this so?

 @davido Help me, Please

[2020-04-30 14:51] vaceletm commented on #134
And what about a generic Open ID Connect provider (like the one for [Jenkins](https://plugins.jenkins.io/oic-auth/) ?
Would that be possible or there are things done by this plugin that are out of ODIC scope ?

[2020-04-30 18:00] davido commented on #142
Have you checked FAQ before asking: [1]?

[code]

[1] https://github.com/davido/gerrit-oauth-provider/wiki/FAQ

[2020-04-30 18:43] davido commented on #134
@vaceletm thanks for the pointer. It should be doable, of course. However, there is already a complications, see:
https://github.com/jenkinsci/oic-auth-plugin/blob/master/src/main/java/org/jenkinsci/plugins/oic/OicSecurityRealm.java#L138-L163

[code]

For example, Google supports well-known openid-configuration open-id-connect, and the response is here:

[code]

But GitHub does not, see: [2].

[1]

[2020-04-30 19:03] gesangtome commented on #142
@davido
Thanks, I found the solution through your link, it's great.

[2020-04-30 19:03] #142 closed

[2020-05-05 07:42] vaceletm commented on #134
Yes, it's a known issue that Github doesn't fully respect OIDC standards. Microsoft Azure doesn't respect it either BTW.

Of course having the possibility to add a generic OIDC server will not solve the issue with providers that doesn't implement the spec. And for those, there is no other way than the specific implementation anyway as, of course, each of them they don't follow the spec in differen

[2020-05-05 08:56] davido commented on #134
Let's assume we implement a new plugin: `gerrit-oidc-plugin` with support for OIDC standard.

The one obvious configuration of this plugin would be: `well-known-openid-configuration-endpoint`.

What would user do if they would like to use if or GitHub, Microsoft Azure and other ooidc providers, that don't implement the standard?

Should the new plugin `gerrit-oidc-plugin` provide a fallback soluti

[2020-05-05 09:20] vaceletm commented on #134
I don't know if generic providers deserve a dedicated plugin (as it's done for Jenkins).

In my understanding it's more a provider in the way you already [list them](https://github.com/davido/gerrit-oauth-provider#gerrit-oauth2-authentication-provider). This generic provider would be more or less the same code of the google one but with the end points configurable.

Of course if people use "generi

[2020-05-05 10:45] davido commented on #134
What you are saying is: this plugin currenty supports say 10 different OAuth providers. It could support another 100. or it could support a generic one, so that we could use the generic one to add all possible 100 provider that supports OIDC standard, right?

IOW, the only configuration for generic OAuth provider in existing or new plugin would be: `well-known-openid-configuration-endpoint` and c'

[2020-05-05 11:34] vaceletm commented on #134
Correct.
Specific providers are needed when:
* Their implementation doesn't follow the standard (github, azure, ...)
* They are popular enough so you want to ease the setup (and reduce the risk of typo) for administrators by hardcoding urls.

Presque.
I'm not, by far, an expert of OIDC so I might be wrong, I'm telling from what I saw in various apps.
The providers are expected to implement the `we

[2020-05-08 03:53] chjobaby commented on #141
Ok, thanks @davido

[2020-05-15 09:53] mildis commented on #134
Just to tell that Azure provides an endpoint for OpenID Connect configuration
`https://login.microsoftonline.com/<tenant_id>/v2.0/.well-known/openid-configuration`

Registered apps can get an ID token and Access token.
One can even add groups claim if `oauth/<groupname>` is ever implemented as an ACL.

[2020-06-04 11:54] Mark-Booth opened #143 "CAS authentication problems"
We have been trying to upgrade to the latest version of _gerrit-oauth-provider_ before the end of the month, so our replication jobs don't stop working, but I've been having problems with the new version of the oauth provider.

Our current production Gerrit server is v2.16.11.1 with gerrit-oauth-provider v2.16.1 (from github) connecting to our CAS 5.3 server.

I have tried to upgrade Gerrit v2.16.

[2020-06-04 12:55] davido commented on #143
I think it was something broken. Have you tried the latest version gerrit: 3.2 and plugin downloaded from official gerrit CI, from master: [1].

[1] https://gerrit-ci.gerritforge.com/view/Plugins-master/job/plugin-oauth-bazel-master-master/

[2020-06-04 12:57] Mark-Booth commented on #143
I'll give it a try and let you know how it goes.

[2020-06-04 12:58] davido commented on #143
This change introduced some regressions: [1], that were fixed in this change: [2].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/253929
[2] https://gerrit-review.googlesource.com/c/plugins/oauth/+/258255

[2020-06-04 13:09] davido commented on #143
A similar problem was reported in #139.

[2020-06-04 13:22] davido commented on #143
From quick looking what was done in tre principle upgrade to the new Scribe java library, it seems correct to me: The extractor preserved: [1] to be non JSON extractor: [2].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/253929/2/src/main/java/com/googlesource/gerrit/plugins/oauth/CasApi.java#49
[2] https://github.com/scribejava/scribejava/blob/master/scribejava-core/src/main/java/c

[2020-06-05 11:42] Mark-Booth commented on #143
I've upgraded our test Gerrit instance to v3.2.0, and tried the latest master build of _gerrit-oauth-provider_ ([build 24|https://gerrit-ci.gerritforge.com/job/plugin-oauth-bazel-master-master/]) but got the same results:
[code]

[2020-06-05 12:15] salk31 commented on #143
Sorry if I've got the wrong end the stick but I think the dodgy line is:
https://gerrit.googlesource.com/plugins/oauth/+/refs/heads/master/src/main/java/com/googlesource/gerrit/plugins/oauth/CasOAuthService.java#162

Which seems to be the same in 3.1 and master. It is passing the token_type into the OAuthToken constructor as the secret?  At the very least this leads to a confusing error message.?

[2020-06-05 13:30] davido commented on #143
Yes, something went wrong during Scribe version upgrade. @Mark-Booth can you dump (obfuscated) the response? The workaround would be to change this line and pass "" empty string as secret:

[code]

[2020-06-05 13:38] salk31 commented on #143
@davido I didn't make a note of the actual non-JSON response. I only made a note for JSON and gerrit only logs it when it is JSON.

Not a lot to it. I think this is the code that generates it on the CAS side (in 5.3 anyway):
[code]

I can turn logging on again and grab it if you still need it.

[2020-06-05 14:31] davido commented on #143
@salk31 Thanks. So, the "secret" is not provided by the CAS anyway. And given that Gerrit caode wasn't changed, the prroblem was introuduced by the `Scribejava` 6.9.0 migration change: [1].

Before that change it was:

[code]

And it didn't ended with NPE because the service is:

[code]

and get AccessToken is defined as

https://github.com/scribejava/scribejava/blob/1.3.7/src/main/java/org/scribe

[2020-06-05 14:42] salk31 commented on #143
@davido yes. gerrit complaining that the "secret" was null threw me as I assumed it must be failing to get it from config. I believe the secret is only used by the client in the final request to the CAS.

In the JSON version or the CAS response token_type is hard coded to "Bearer" anyway so doesn't add lot of value.

Seems confusing to me that the token implementation require a secret when not use

[2020-06-05 19:41] davido commented on #143
Let me upload a fix for CAS OAuth2 provider regression.

[2020-06-07 08:48] davido commented on #143
Fix is here: [1].

[1] https://github.com/davido/gerrit-oauth-provider/issues/143

[2020-06-08 06:17] #143 closed

[2020-06-11 22:25] Mark-Booth commented on #143
After good results on our test server, we have deployed this to our production server.

Thanks for all your help @davido it is very much appreciated.

[2020-06-12 05:05] davido commented on #143
@Mark-Booth Thanks for the confirmation and sorry for the breakage. I will merge this series up to master right now.

[2020-06-24 15:12] luizduma opened #144 "InternalServerError on request to https://graph.microsoft.com/v1.0/me"
I´m using oauth with Office 365 and facing an InternalServerError on request to https://graph.microsoft.com/v1.0/me

[code]

The problem happens with a build based on commit 41e558599a965f09a90923dab4c898103e790f17
and with the release v3.0.0.0, released on 18 Jun 2019

I fixed the problem applying a patch over the commit 41e558599a965f09a90923dab4c898103e790f17

[code]

But this problem seems to

[2020-06-24 15:48] davido commented on #144
Apparently it got broken during the Scribe Java library upgrade in: [1].

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/253929/2/src/main/java/com/googlesource/gerrit/plugins/oauth/Office365OAuthService.java#80

[2020-06-24 16:29] luizduma commented on #144
I can upload the fix but I don´t know if there are more items missed after the merge. I saw other differences in the file and maybe there are more files affected

[2020-06-26 02:42] luizduma commented on #144
The http request problem was fixed but the sign in is not working yet. I don ´t know if is the same problem reported on https://github.com/davido/gerrit-oauth-provider/issues/132

We are migrating our corporate email from gmail to Office 365 and we have the following error at gerrit/error_log

[code]

My original account ID is 1000035 but it seems the plugin is trying to create another account (10

[2020-06-26 05:33] davido commented on #144
What Gerrit version are you using? There were a number of fixes recently in this code area.

[2020-06-26 05:37] davido commented on #132
Is this issue fixed now?

[2020-06-26 08:13] Miccia94 commented on #132
@davido Currently running 3.2.2 with oauth 41e558599a and seems to work correctly

[2020-06-26 08:41] davido commented on #132
@Miccia94 Can you check `All-Users` repository for this user? Also, are you supporting more than one OAuth provider? We should be able to track down the problem to understand what is going on. Is the user trying to link two different identities?

In Gerrit 3.2.2 all problems should b fixed.

[2020-06-26 08:47] Miccia94 commented on #132
@davido We are using github/google oauth. What should i check in All-Users repo?

[2020-06-26 09:01] davido commented on #132
@Miccia94 As expected, the linking of identitied is broken.

Identitied linking works like this:

1. User log in with Gmail
2. User klick on link identitied
3. Use log in with GitHub

In the end, different identited must be pointing to the same account:

[code]

Idealy, you would set up a staging instance, and test account linking from sctarch. Does it work as expected?

[2020-06-26 09:02] Miccia94 commented on #132
Actually my new account looks fine @davido

[externalId "109031793006731947128"]
        accountId = 1601
        email = bono.michele94@gmail.com
[externalId "google-oauth:109031793006731947128"]
        accountId = 1601
        email = bono.michele94@gmail.com

[2020-06-26 09:04] davido commented on #132
If you link to GitHub as described above, you should get:

[code]

The problem is: the broken user hasn't clicked "Link New Identity" button from the UI, but just registered with another provider.

In that case Gerrit doesn't know that this is the same user and create new account. It works as expected.

Now you have to merge the accounts for him to fix it. Previously that was done in ReviewDb. Now

[2020-06-26 09:07] Miccia94 commented on #132
@davido Also seems i miss the Link New Identity button under Settings -> identity

[2020-06-26 10:15] luizduma commented on #144
We are using Gerrit 3.2.2
I saw the section "Multiple Identities" at https://gerrit-review.googlesource.com/Documentation/config-sso.html#:~:text=To%20link%20another%20identity%20to,the%20'Link%20Another%20Identity'%20button
I can´t see the option 'Link Another Identity'  in my user Seetings and I will check if it is necessary to do the "manual merge" of my Identities

[2020-06-26 10:30] davido commented on #132
@Miccia94 Yeah, you are not alone, unfortuantely. Many Gerrit users do it wrong and shoot themself in the foot: by creating yet another new Gerrit users instead of linking. Now the site admin would have to merge two different accounts to one single account.

[2020-06-26 10:30] #132 closed

[2020-07-07 03:53] speachy commented on #113
I just got bit by something similar to this, authenticating against gitlab.

I'm currently using gerrit 2.14.20 and the 2.14.6.2 gerrit-oauth-plugin release.

I tried to enable gitlab autnentication, configured gitlab and gerrit with the correct URLs, and gitlab kicks things back claiming an invalid URL.

Here's where things get strange.  The URL that the oauth-plugin generates is this:

https://g

[2020-07-07 05:07] davido commented on #113
I am not sure what could be wrong here. From day one, the code looks right: [1].

[code]

Can you debug it?

[1] https://gerrit-review.googlesource.com/c/plugins/oauth/+/99000/5/src/main/java/com/googlesource/gerrit/plugins/oauth/GitLabOAuthService.java#68

[2020-07-20 03:00] romanharen1 commented on #114
So, this plugin doesnt work with gerrit version older than 2.16?
i try to use the last plugin version in gerrit 2.11.3 and i got this error.

[2020-07-28 08:32] andersoxie commented on #114
I get  a similar error but do not have the delete-project installed. I am running:

[2020-07-28T08:52:00.132+0200] [main] INFO  com.google.gerrit.pgm.Daemon : Gerrit Code Review 3.2.2 ready

java.lang.NoClassDefFoundError: com/google/gerrit/server/OutputFormat
        at com.googlesource.gerrit.plugins.oauth.GitHubOAuthService.getUserInfo(GitHubOAuthService.java:86)
        at com.google.gerrit.ht

[2020-07-28 08:54] davido commented on #114
@andersoxie Can you try with latest plugin downloaded from GeritForge CI: [1]?

I really should conduct new release and upload it to GitHub project release page. Sorry for the troubles.

[1] https://gerrit-ci.gerritforge.com/view/Plugins-stable-3.2/job/plugin-oauth-bazel-master-stable-3.2/20/artifact/bazel-bin/plugins/oauth/oauth.jar

[2020-09-17 20:20] romanharen1 opened #145 "unable to find valid certification path to requested target"
Hi Folks
Im getting this error when i try to log in my gerrit:
`Sep 17, 2020 4:50:05 PM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for servlet [default] in context with path [] threw exception
org.scribe.exceptions.OAuthConnectionException: There was a problem while creating a connection to the remote service.
	at org.scribe.model.Request.send(Request.java:70)

[2020-09-21 15:28] eriko-de commented on #145
We had the same issue.

As of limited resources we weren't able to further debug and instead decided to disable the plug in

[2020-10-09 09:31] leonard84 commented on #134
Just my two cents, [OpenID Connect Core](https://openid.net/specs/openid-connect-core-1_0.html) can be used without [OpenID Connect Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html), which is perfectly fine by the spec. You just have to configure the endpoints/settings manually.

[2020-10-13 11:35] martsalz opened #146 "Gerrit says log in despite successful authentication"
Hi,

I have installed the plugin and set it up with Bitbucket. Gerrit is started and I log in to my Bitbucket account. Afterwards the Gerrit server page is called again (http://localhost:8080/). The redirection works, but I am not logged in. In the upper right corner it still says "Log in". In the Bitbucket account I have entered the following URL as callback: http://localhost:8080/

When I click

[2020-10-13 11:35] martsalz commented on #146
`[2020-10-13 13:32:04,135] [main] INFO  com.google.gerrit.server.git.WorkQueue : Adding metrics for 'SshCommandStart' queue
[2020-10-13 13:32:04,563] [main] WARN  com.google.gerrit.sshd.SshDaemon : Cannot format SSHD host key [EdDSA]: invalid key type
[2020-10-13 13:32:04,564] [main] INFO  com.google.gerrit.server.git.WorkQueue : Adding metrics for 'SSH-Stream-Worker' queue
[2020-10-13 13:32:04,56

[2020-10-16 09:09] fstefanov opened #147 "Build from Master branch is failing"
[code]

[2020-10-16 09:15] davido commented on #147
Can you try to build with latest Bazel release 3.6.0, this is the latest Bazel release: https://github.com/bazelbuild/bazel/releases/tag/3.6.0.

Also consider to build oauth plugin from here: https://gerrit.googlesource.com/plugins/oauth.

The latest commits from oauth-plugin were not replicated in this repositories.

Of course you could just grab the binaries from Gerrit CI:

https://gerrit-ci.ge

[2020-10-16 09:42] fstefanov commented on #147
I want to build it locally since I'm planning to add couple changes.

.bazelversion is set to 2.2.0 changed it to 3.6.0
Build is failing with the same error using bazel 3.6.0

[code]

.bazelversion is set to 3.5.0 changed it to 3.6.0
[code]

[2020-10-16 12:08] davido commented on #147
You are trying to build in standalone build mode. For that you have to publish the Plugin API first.
Alternatively, you could build in gerrit tree mode.

[2020-10-20 17:01] fstefanov commented on #147
Again failing :(
https://gerrit.googlesource.com/gerrit master branch - c5d721cce1ee8c603a51de5995e1a07b7d1dcc22
https://gerrit.googlesource.com/plugins/oauth master branch - ee2d6af619348a083220d2f87961675b300c1d10

[code]

[2020-10-21 04:58] davido commented on #147
The reason for the failure has nothing to do with this plugin.

You have to clone recursively to build gerrit, so tha jgit (and other modules) will be fetched.

[code]

Really, take time, read the documentation, how to build gerrit:

https://gerrit-review.googlesource.com/Documentation/dev-bazel.html

Unfortunately, this documentation doesn't mention, that the gerrit should be cloned recursively.

[2020-10-21 15:53] fstefanov commented on #89
Finally managed to build it!
Thank you for your help Davido I haven't build Gerrit since 2.13
Documentation is poor indeed...

[2020-10-22 05:29] davido commented on #89
Great.

[2020-10-22 05:29] #89 closed

[2020-10-22 05:31] davido commented on #147
This is now fixed, see https://github.com/davido/gerrit-oauth-provider/issues/89#issuecomment-713676936.

[2020-10-22 05:31] #147 closed

[2020-11-15 05:41] speachy commented on #113
I've spent some quality time on this today, after having upgraded to gerrit 2.16.23, and the latest version of the 2.16 build of the oauth plugin.

I discovered that the invalid URI problem I had was due to a trailing trailing '/' on the 'root-url' -- in other words, it needs to read "root-url = https://gitlab.com"

That got me past the invalid URL, and gitlab then  prompts me to authorize my gerr

[2020-11-16 12:10] davido commented on #113
I am not a Gitlab expert. I would probably accept anything that would help making GitLab OAuth provider work (again).

[2020-12-02 07:41] hundanLi opened #149 "Build failed for version 3.0.0"
When I build with bazel of version 3.7.1 on Windows10，it occurs such errors:
[code]
Any help, please?

[2020-12-02 18:02] davido commented on #149
Have you tried to build from gerrit-review: https://gerrit-review.googlesource.com/admin/repos/plugins/oauth ?

[2020-12-03 02:49] hundanLi opened #150 "Why Gerrit jump to https schema while I config the cas root-url of http schema?"
When I test the cas oauth sign in,  it jump to https schema, however, my config specify http. The following is my etc/gerrit.config:
[code]
Any help, Please?

[2020-12-03 02:58] hundanLi commented on #149
I try, but another error occur:
[code]

[2020-12-03 04:47] #150 closed

[2020-12-04 20:17] davido commented on #149
Can you try to build it on Linux? or just download the recent binary fro GerritForge CI: [1].

[1] https://gerrit-ci.gerritforge.com/view/Plugins-master/job/plugin-oauth-bazel-master-master/

[2020-12-05 04:34] hundanLi commented on #149
I have try but failed. Since the getUserInfo() method in https://github.com/davido/gerrit-oauth-provider/blob/master/src/main/java/com/googlesource/gerrit/plugins/oauth/CasOAuthService.java is incompatible with cas-5.3，I want to change and build it from source. Here is the incompatible code:
[code]

[2020-12-07 08:04] davido commented on #149
Can you provide full build error message when building on Linux?

[2020-12-07 16:06] hundanLi commented on #149
Such errors on Linux:
[code]

[2020-12-07 18:41] davido commented on #149
You are building in standalone mode, in oauth plugin directory.
A pre-requisite for that is to build and publish plugin API in local maven repository.

Check the documentation.

Or try to build in gerrt in tree mode.

links oauth directory into gerrit's plugins directory
and copy `external_plugin_deps.bzl` from oauth directory to gerrit's plugins directory:

[code]

[2020-12-08 14:31] hundanLi commented on #149
An error occurs following your guide:
[code]

[2020-12-08 19:28] davido commented on #149
You cloned gerrit not recusrively, and missed `git modules`. JGit submodule is missing.

Here are the commands how to build the plugin:

[code]

Can you try exactly the above commands?

[2020-12-09 17:19] hundanLi commented on #149
It works well! Thank you very much for your help!

[2020-12-09 17:38] kleptog commented on #142
For other people looking for how to configure trustedOpenID and allowedOpenID off the office365 oauth2, I found the following works for us:
[code]
Our problem with the '^.*$' approach it that it causes the Yahoo option to appear, which we definitely don't want.

[2020-12-09 17:50] #149 closed

[2020-12-09 21:30] davido commented on #142
Thanks for pointing this out, this is also documented in the FAQ.

[2020-12-17 06:17] gs-tedla opened #151 "Clarification needed on Google OAuth Client ID alert for Gerrit authentication"
We are using Gerrit 3.2.0 and "OAuth 2.0 Client IDs" for gmail based authentication in our environment. For the record our gerrit-oauth-provider plugin version is 22f2be2ea8. However we have received an alert from Google with the below content

_We are writing to let you know that Google will discontinue support for sign-ins to Google accounts from embedded browser frameworks, starting January 4,

[2020-12-17 14:11] davido commented on #151
I've created this issue: [1] upstream. Let's continue the discussion there.

[1] https://crbug.com/gerrit/13837

[2020-12-17 14:11] #151 closed

[2021-01-22 15:18] sachidanandpatil2015 opened #152 "How to configure azure ad groups ....authorization seems to be not working with azure ad groups"
Hi We have configured OAUTH using this plugin and trying to use groups in azure AD for authorization.
Can you please help us with, How to configure azure ad groups as authorization using azure ad groups not working for us

[2021-01-22 15:50] banupriya20 commented on #152
We have an simillar issues

[2021-02-08 08:40] qdoobp opened #153 "Reponse parsing issue with Pre-Release 3.1.3"
We are running Gerrit with Keycloak and recently tried updating from the plugin version 3.0.0 to the pre-release 3.1.3. There seems to be an issue with the new scribejava versions since it is not able to parse the response body properly.
I get this error message:

[code]
I had to omit the token that was returned by Keycloak but it includes an access_token and everything else that is required. The

[2021-02-08 08:43] davido commented on #153
Can you try with the most recent master version of this plugin?

You can download it here: [1].

[1] https://gerrit-ci.gerritforge.com/view/Plugins-master/job/plugin-oauth-bazel-master-master

[2021-02-08 08:43] qdoobp commented on #153
Thanks for the quick reply. I will give it a try right now.

[2021-02-08 08:47] qdoobp commented on #153
Looks good on my end. Login worked successfully and all the user information was parsed. Thank you for the quick help :)

[2021-02-08 08:47] #153 closed

[2021-02-22 15:01] rajaassaf1985 opened #154 "Migrate gmail to office365 accounts"
We have migrated our company mail service from gsuite to office365. Trying to setup oauth on gerrit server to use office365 instead of gmail. The application was setup correctly on azure AD but on login I get a forbidden and errors in the gerrit logs show the following:

[HTTP GET /oauth?code=0.AAAAMUIzFUahjUmUIGQWiyj1MNFMNhIBAVFBj1yQ4Uo8tMlzAAI.AQABAAIAAAD--DLA3VO7QrddgJg7Wevr7t42FBVmyCcdm ] WARN

[2021-02-23 06:11] davido commented on #154
You cannot re-use emails for different OAuth providers. I guess you need to change the backend data, from one provider to another. What gerrit version are you using? Depending on gerrit version, you would need to tweak ReviewDb (database) or NoteDb (git).

[2021-02-23 09:29] rajaassaf1985 commented on #154
We're using gerrit version 3.2.3.

[2021-02-23 11:26] davido commented on #154
Consider to upgrade to 3.2.7 ASAP, see: [1]. Older releases have security issues.

[1] https://groups.google.com/g/repo-discuss/c/FOrISyYEtBc/m/5Hg0pzLEAgAJ

[2021-02-23 19:50] rajaassaf1985 commented on #154
upgraded to 3.2.7. Thanks for the heads up.
Now regarding the switch to office365 with the same email addresses. Do you know of any gerrit documentation to tweak the DB in a way that will map the old google user login to the microsoft ones ?

[2021-02-23 19:53] davido commented on #154
See this thread: [1], that is referencing also: [2].

[1] https://groups.google.com/g/repo-discuss/c/4mbykY3oS1o/m/BsJ0_NFbAQAJ
[2] https://groups.google.com/g/repo-discuss/c/tZ1tYQwbeLY/m/xSZhIQ20EQAJ

[2021-03-22 04:04] hlaporte opened #155 "."

[2021-03-22 04:04] #155 closed

[2021-04-30 17:30] rerrabolu opened #156 "Plugin to create review on gerrit"
Hi,

Unsure if this is the right place, but let me ask anyway.

Is there a Gerrit plugin that could to do the following:

-  Receive an email that has the code patch
-   Create a review on gerrit
-   Send email to list of folks about the new review

Could you advise me if such a thing exists.

Regards,
Ramesh

[2021-05-01 05:33] davido commented on #156
I am not aware of such a thing.

I understand your use case though.LibreOffice project did this before moving to gerrit. Contributors just posted patches to the developer mailing list, and maintainers applied the patches, and did the review per mail. So they sent mail answer back with a statement like:

Line 42:

[code]

It's about the review, isn't it, that would take place in browser anyway?

If

[2021-05-01 05:33] #156 closed

[2021-05-12 14:38] davido commented on #156
You could use this already: https://github.com/gitgitgadget/gitgitgadget

[2021-05-27 03:04] liuzhangbeibei commented on #152
Hi,can you tell me how to configure azure aad reply URL? When I log in using OAUTH, azure aad exposed the following error "The reply URL specified in the request does not match the reply URLs configured for the application:"

[2021-05-28 06:24] davido commented on #152
OAuth 2 gerrit integration doesn't support groups.

[2021-06-11 03:56] liuzhangbeibei opened #157 "Account conflict after gerrit integrated office 365 login"
Currently using gerrit3.4.0
[plugin "gerrit-oauth-provider-azure-oauth"]
        tenant =
        client-id =
        fix-legacy-user-id = true
We used ldap to log in, and now we have integrated azure AAD and found the following problems:
. If the original account ldap user mailbox is the same as the aad user mailbox, aad will not be able to log in
. If the original account ldap user mailbox is in

[2021-06-11 11:41] davido commented on #157
There is no out of the box support for migration from LDAP=>OAuth auth scheme.

You could migrate your user data from LDAP to OAuth I think.

[2021-06-15 08:50] liuzhangbeibei commented on #157
Thanks

[2021-06-15 08:50] #157 closed

[2021-06-28 03:15] Yanci516 opened #158 "Is there a compiled oauth.jar"

[2021-06-28 07:47] davido commented on #158
Yes, please check the right gerrit release on Gerrit-CI:

https://gerrit-ci.gerritforge.com/view/Plugins-master/job/plugin-oauth-bazel-master-master

[2021-06-28 07:47] #158 closed

[2021-07-03 03:24] Yanci516 opened #159 "Hello，I login gerrit by oauth with gitlab，but no administrator rights，how to get？"

[2021-07-03 15:53] davido commented on #159
In Gerrit, the first registered user is assigned administrator privilegies.
Please note, that this issue tracker only related to gerrit-oauth-provider plugin.

For questions and problem, consider to use other communication channels: [1].

Mailing list: https://groups.google.com/forum/#!forum/repo-discuss
Issue tracker: https://www.gerritcodereview.com/issues.html

[1] https://www.gerritcodereview.

[2021-07-03 15:53] #159 closed

[2021-08-22 18:17] paulfertser commented on #114
Hello Davido,
We (OpenOCD) migrated to Gerrit 3.4.0 from Gerrit 2.13.6 today. Google OAuth is considered essential for our contributors so I downloaded https://gerrit-ci.gerritforge.com/view/Plugins-stable-3.3/job/plugin-oauth-bazel-master-stable-3.3/lastSuccessfulBuild/artifact/bazel-bin/plugins/oauth/oauth.jar (just the latest for today) and confirm it works on our "production" at least for Goog

[2021-09-01 16:59] davido commented on #114
Thanks for the feedback!

Note, though, that this and other gerrit plugins have received **a lot** of feedback and contribution from the whole gerrit community.

So may be share your feedback on the [gerrit mailing list](https://groups.google.com/g/repo-discuss/), like @grandinj did recently in this [post](https://groups.google.com/g/repo-discuss/c/Q8KLJ_6YplM).

Right, this is on my list. (Curren

[2021-09-01 16:59] #114 closed

[2021-09-07 09:10] git9am opened #160 "Avatar support?"
How does this plugin retrieve user avatars?

[2021-12-13 10:56] mhuin commented on #145
Hello,
I have noticed the same problem, it started when I switched to using gerrit in a container rather than the regular service. I believe the container doesn't have access to the global truststore and since my auth service uses a self-signed SSL cert, the same error occurs when trying to authenticate.

[2022-01-11 02:23] zhuyangyang-lingoace opened #161 "Gerrit 3.4.1. oauth error"
Gerrit version: 3.4.1
use  "gerrit-oauth-provider-azure-oauth" plugin
logs:
`
ERROR com.google.gerrit.pgm.http.jetty.HiddenErrorHandler : Error in GET /oauth?code=0.AUkAqd5W_euXWEGgi7EbVw7MB4CRshF7kBJGja1UDpvDBD1JAMI.AQABAAIAAAD--DLA3VO7QrddgJg7WevrgakdOY3pRAu77vCLNLHmaszhKMYfkdFJP4gnROjwyhcQo2a937G4gQld2xIF_u0pW5cq0QzEDkx7HCi2y9pg761P4D2Bru4Norz1Z73qTj1-aoM_flH02fs2iTWSghRFn7HK_lJet7eub6wmxeUEZPp

[2022-01-11 07:55] davido commented on #161
`2d`  is the character `-`, see: [1].

[1] https://stackoverflow.com/questions/41738065/failurejava-lang-illegalargumentexception-illegal-base64-when-decoding-jwt-tok

[2022-01-11 08:05] zhuyangyang-lingoace commented on #161
@davido  Yes, but the oauth code is returned by the office365. We can't control

[2022-01-11 08:30] davido commented on #161
Fixed in: [1].

[1] https://github.com/davido/gerrit-oauth-provider/issues/161

[2022-01-11 08:30] #161 closed

[2022-02-02 07:26] aman20010sinha opened #162 "Plugin is unable to authenticate Gitlab/Github oauth"
Hi Team,

I have used the gerrit 3.5.0 war file and have taken the plugin from the release artifacts - https://github.com/davido/gerrit-oauth-provider/releases/download/v3.5.1/gerrit-oauth-provider.jar.
When I am trying the init operation after adding the plugin, the installer is unable to verify the passwords for both github or gitlab.
I have registered gerrit as a new application in both github

[2022-02-02 10:32] davido commented on #162
Is this really related to this plugin? I have not tried to reproduce it,
but may be replicate this issue rather to main gerrit issue tracker: [1].

[1] https://bugs.chromium.org/p/gerrit/issues/list

[2022-02-02 10:58] aman20010sinha commented on #162
Thanks, I have raised a new issue - https://bugs.chromium.org/p/gerrit/issues/detail?id=15653
Also, Below is my gerrit.config file. Please check if there's any issue which could lead to the above error.

[gerrit]
        basePath = git
        canonicalWebUrl = https://ec2-52-91-78-134.compute-1.amazonaws.com:8443/
        serverId = e1d03375-d4be-44f7-9d8f-675f555647f7
[container]
        javaOpt

[2022-02-02 11:05] davido commented on #162
I assume its my github account password

Nope. Client Secret is provided by GitHub/GitLab during application registration process.

Please check the documentation in WIKI:

https://github.com/davido/gerrit-oauth-provider/wiki/Getting-Started

[2022-02-02 11:05] #162 closed, assigned to nobody

[2022-02-23 10:07] pplmx opened #163 "How to install this plugin in docker?"
1. mapping `/opt/gerrit/plugins:/var/gerrit/plugins`
2. copy `oauth.jar` to  `/opt/gerrit/plugins`
3. login to gerrit container at the directory `/var/gerrit/bin/`
4. run `java -jar gerrit.war init -d gerrit`

It doesn't show the information you showed in the doc

# Here is my operation log
[code]

[2022-02-23 10:08] pplmx commented on #163
![image](https://user-images.githubusercontent.com/26994103/155298662-16e5249d-04e6-4c60-83f2-a7156c32a758.png)

[2022-02-23 10:26] davido commented on #163
Where is the oauth.jar is coming from? Is it corrupt? Where is the source? Show me the content?

Can you take Docker out of the picture and try it locally? Does it work?

Have you tried this jar: [1] or this jar: [2]?

[1] https://github.com/davido/gerrit-oauth-provider/releases/tag/v3.5.1
[2] https://gerrit-ci.gerritforge.com/view/Plugins-stable-3.5/job/plugin-oauth-bazel-master-stable-3.5/lastSu

[2022-02-24 03:01] pplmx commented on #163
1. my `oauth.jar` is [v3.5.1 (release)](https://github.com/davido/gerrit-oauth-provider/releases/tag/v3.5.1), which is just be renamed
2. I tried this [Plugins-stable-3.5](https://gerrit-ci.gerritforge.com/view/Plugins-stable-3.5/job/plugin-oauth-bazel-master-stable-3.5/lastSuccessfulBuild/artifact/bazel-bin/plugins/oauth/oauth.jar), which still doesn't be installed
3. run it locally, it works fin

[2022-02-24 04:58] pplmx commented on #163
Hi, @davido
Thanks for your help :)
I have found the root cause: GERRIT_SITE isn't be set rightly.
Right way:
[code]

[2022-02-24 07:29] davido commented on #163
Thanks for confirming, that the root cause was not related to this plugin.

[2022-02-24 07:29] #163 closed, assigned to nobody

[2022-05-12 14:24] zhou1591 opened #164 "I have been pulling. Why is this? Fetching @gerrit_plugin_api; fetching 446s"
![image](https://user-images.githubusercontent.com/39522200/168097526-2bb0fe4e-6c1e-4188-b040-8c1f27a43a6c.png)

- I have been pulling. Why is this?

- Fetching @gerrit_plugin_api; fetching 446s
-
![image](https://user-images.githubusercontent.com/39522200/168099198-6e62c4cb-6787-4b83-bf41-abb67f87b2e9.png)

- After a while he will report an error

[2022-05-12 14:46] davido commented on #164
Are you building in Windows?

This is not supported. Either build on Linux, or download bre-built artifact from GerritForge-CI: [1].

[1] https://gerrit-ci.gerritforge.com/view/Plugins-master/job/plugin-oauth-bazel-master-master/lastSuccessfulBuild/artifact/bazel-bin/plugins/oauth/oauth.jar

[2022-05-12 14:46] #164 closed, assigned to nobody

[2022-05-21 03:58] opsroller commented on #134
Why was this ignored and never implemented? It's a very legitimate use case. Also Dex doesn't require that you use the path /dex/auth and Dex does support the /.well-known/openid-configuration

[2022-06-08 09:31] hundanLi opened #165 "Build Error"
root@ubuntu1804:gerrit-oauth-provider# bazel build gerrit-oauth-provider
2022/06/08 17:20:00 Downloading https://releases.bazel.build/4.2.0/release/bazel-4.2.0-linux-x86_64...
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
DEBUG: Rule 'com_googlesource_gerrit_bazlets' indicated that a canonical reproducible form can be obtained by modifying arguments shallow_s

[2022-06-08 09:34] davido commented on #165
Have you read the build instructions?

https://github.com/davido/gerrit-oauth-provider/blob/master/src/main/resources/Documentation/build.md

[2022-06-08 09:34] #165 closed, assigned to nobody

[2022-06-08 09:38] hundanLi commented on #165
Thanks, it would be better to put a link of building guide in readme.md

[2022-07-27 00:36] Kapsztajn opened #166 "Migration of Git users to Azure AD users"
Hello!

Firstly thanks Davido for this amazing provider.
Im currently in proces of implementing Azure AD login to my different tools. As I'm using Gerrit I'm trying to also implement it there, but I found one issue which is stopping me. I have around 15 users in Gerrit which are using it daily, all of them have Azure AD account. When I login with users which did not have account before, new users

[2022-07-29 19:32] davido commented on #166
I see you have also asked this question on the mailing list: [1].

I am not sure I understand what you are trying to achieve.
Also what Gerrit version are you using?

What is your current auth type in Gerrit?

From what authentication scheme are you trying to migrate to OAuth2?

Have you also checked the [FAQs](https://github.com/davido/gerrit-oauth-provider/wiki/FAQ).

And especially [this](https

[2022-08-01 08:39] Kapsztajn commented on #166
Hello,
yes I also asked the question on Google group, did not know if you are still responsing here.

Im using Gerrit 3.4.0

Currently:
[code]

with this config in Apache:

[code]

And the identity looks like this:
[code]
Users is in .htpasswd_gerrit

After the switch to Azure AD it looks like this:

[code]

with identity:

[code]

Where is the Link Identity button? Will it link Azure AD auth acco

[2022-08-01 10:59] davido commented on #166
Link identity is only supported with OpenID and OAuth auth schemes.
Also combined scheme OpenID/OAuth supports linking user identity.

In your case, you would have to do manual migration.

In NoteDb external IDs are stored in the All-Users repository in a Git Notes
branch called refs/meta/external-ids where the sha1 of the external ID is used
as note name.

[2022-08-03 15:06] Kapsztajn commented on #166
Hello Davido, thank you for direction how to do this. I managed to do this somehow, steps below if someone have same problem :)

Clone All-Users repo:
`git clone "https://gerrit.example.com/a/All-Users"`

Add rights to Admin group:
[code]
[code]
Go to All-Users folder which you clone and do some git magic:
[code]
[code]
Get new user ID via Rest API or user can tell you his ID and search it:
[code]

[2022-08-03 15:06] #166 closed, assigned to nobody

[2022-08-22 19:10] tobias-urdin commented on #134
I was interested in knowing if I could get this working with authentik [1] but seems that there is no way to use a generic one as this issue states. It even provides a GitHub compatible endpoint but since URLs is hardcoded we'd need to compile the plugin ourselves.

[1] https://goauthentik.io/docs/providers/oauth2/

[2022-09-08 09:25] mhuin opened #167 "Issues with gerrit + keycloak in compose or kubernetes deployments"
Hello,

The keycloak oauth plugin doesn't work properly when deploying gerrit and keycloak via a docker or podman compose. This is due to the fact that in a compose, services use an internal networking that may differ from external networking as seen from a user's web browser.

Consider the example compose below:

``
version: '2.3'
services:
  keycloak:
    image: docker.io/jboss/keycloak
    envi

[2022-09-09 10:28] mhuin commented on #167
For more context about the "/auth" issue, see these notes: https://www.keycloak.org/migration/migrating-to-quarkus#_default_context_path_changed